@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;

  font-family: montserrat, sans-serif;
  
}
:root {
    --navbarBG : #5353532E

}

.desktop-navbar-list {
  display: none;
}

.mobile-navbar-list {
  background-color: var(--navbarBG);
  backdrop-filter: blur(10px);
  height: 100svh;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: -100%;  

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transition: 0.2s ease;
}
.mobile-navbar-list ul,
.mobile-navbar-list li,
.mobile-navbar-list a {
    text-decoration: none;
    list-style: none;
}
.dropdown-menu .dropdown-items {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all .4s ease-in-out;
}
.dropdown-menu .dropdown-items li {
    cursor: pointer;
}
.dropdown-menu:hover .dropdown-items {
    position: relative;
    top: 100%;
    left: 0;
    opacity: 1;
    pointer-events: all;
}

.mobile-navbar-list.active {
  right: 0;
}

nav {
  padding: 20px;
  display: flex;
  background-color: rgb(34, 37, 49);
}

.menu-icon {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  height: 5px;
  width: 100%;
  background-color: rgb(15, 71, 213);
  border-radius: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
}
.menu-icon span:nth-child(1) {
  top: 25%;
}
.menu-icon span:nth-child(3) {
  top: 75%;
}

.menu-icon.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-icon.active span:nth-child(2) {
  opacity: 0;
}
.menu-icon.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (min-width: 961px) {
.menu-icon {
  display: none;
}
.mobile-navbar-list {
  display: none;
}
.desktop-navbar-list {
  display: flex;
  position: relative;
}

.logo {
  width: 100px;
}

nav {
  background-color: var(--navbarBG);
  backdrop-filter: blur(10px);
  width: 900px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  border-radius: 24px;
  margin-top: 20px;

}
nav a {
text-decoration: none;
color: #fff;
transition: .3s ease;
}
nav a:hover {
color: #BAD0FA
}


nav ul ul {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  
}
nav ul li  {
  list-style: none;
  
  padding-inline: 10px;
}
.dropdown-menu ul li a {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
}


.dropdown-menu .dropdown-items {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all .4s ease-in-out;
}
.dropdown-menu:hover .dropdown-items {
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: all;
}


}